@use 'styles/variables' as *;
@use 'styles/mixins' as *;
@import url('../../shared/assets/fonts/fonts.css');

:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #252b42;
  margin: 0;
  background-color: #ffffff;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@include respond-to(mobile) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }
}

@include respond-to(tablet) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}
