$mobile-breakpoint: 576px;
$tablet-breakpoint: 880px;
$desktop-breakpoint: 1440px;
$mid-desktop-breakpoint: 1100px;

$color-primary: #5c1af5;
$color-primary-light: #8d5cf665;
$color-primary-dark: #8350e5;
$color-secondary: #a32100;
$color-text-primary: #252b42;
$color-text-secondary: #737373;
$color-background: #ffffff;
$color-background-secondary: #f5f5f5;
