.footer {
  padding: 20px;
}

.contacts {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contactItem {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 8px;

  img {
    width: 24px;
    height: 24px;
  }

  span {
    font-size: 16px;
  }

  &:hover {
    color: #8d5cf6;
  }
}

.footerLink {
  color: #888;
  text-decoration: none;
  font-size: 0.9rem;
  &:hover {
    text-decoration: underline;
  }
}
