.review {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 0 0;
  margin: 82px 0;
  align-items: center;

  @include respond-to(mobile) {
    margin: 0;
  }

  .reviewSubtitile {
    color: $color-primary;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: $color-primary;
    margin-bottom: 10px;
  }

  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 0.2px;
    color: $color-text-primary;
    margin-bottom: 35px;
    @include respond-to(mobile) {
      margin-bottom: 0;
      text-align: center;
    }
  }
}
