.aboutUs {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.aboutUsMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 112px;
  @include respond-to(tablet) {
    flex-direction: column;
    margin-bottom: 60px;
  }
  @include respond-to(mobile) {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
.imgSection {
  position: relative;
  width: 50%;
  overflow: hidden;

  @include respond-to(tablet) {
    width: 100%;
  }

  .imgPhoto {
    width: 100%; // адаптивная ширина
    height: auto; // автоматическая высота = сохраняем пропорции
    display: block; // убирает лишние отступы
    z-index: 3;

    @include respond-to(mobile) {
      max-width: 100%; // не выходит за пределы экрана
      height: auto;
    }
  }
}

.aboutUsContent {
  width: 50%;
  text-align: left;
  max-width: 686px;

  @include respond-to(midDesktop) {
    max-width: 500px;
  }
  @include respond-to(tablet) {
    width: 100%;
    max-width: 100%;
  }
  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    margin-bottom: 35px;
    @include respond-to(midDesktop) {
      margin-bottom: 20px;
    }
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 16px;

    @include respond-to(midDesktop) {
      font-size: 18px;
    }
  }
}

.whyUs {
  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.2px;
    color: #8d5cf6;
    text-align: left;
    margin-bottom: 35px;
    @include respond-to(tablet) {
      font-size: 18px;
    }
    @include respond-to(mobile) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.2px;
      color: #737373;
      position: relative;
      padding-left: 2.5rem;
      margin-bottom: 1.5rem;
      text-align: left;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0.4rem;
        width: 24px;
        height: 24px;
        background-image: url('data:image/svg+xml;utf8,<svg fill="none" stroke="%238d5cf6" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M5 13l4 4L19 7"/></svg>');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      strong {
        display: block;
        font-weight: 600;
        margin-bottom: 0.5rem;
        color: #252b42;
      }

      @include respond-to(tablet) {
        font-size: 16px;
        line-height: 150%;
      }
    }
  }
}
